<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table id='divcontents' className="w-full divide-y text-xs text-left">
        <tr className="bg-gray-100 sticky top-0">
            <th className="flex gap-3 pl-5 py-2">
                Employee Info
            </th>
            <th className="table-cell">Payment Date</th>
            <th className="table-cell">Status</th>
            <th className="table-cell">Account Details</th>
        </tr>
        {
        viewSlipData?.map((datf, i) => (
        <tr className="" key={i}>
            <td className="pl-5 py-2">
                <div className="">{datf.account_name}</div>
                <div className="">&#8358;{Number(datf.basic_salary).toLocaleString('en-US')}</div>
            </td>
            <td className="table-cell">{datf.schedule_date}</td>
            <td className="table-cell">{datf.status}</td>
            <td className="table-cell">
                <div className="font-bold">Account:</div>
                <div className="">{datf.account_number}</div>
                <div className="font-bold">Bank:</div>
                <div className="">{datf.bank_name}</div>
            </td>
        </tr>
        ))
        }
    </table>
</body>

</html>