@tailwind base;
@tailwind components;
@tailwind utilities;


.css-23p0if-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    @apply bg-hrms_green focus:hover:bg-hrms_green;
}
.apexcharts-toolbar{
    display: none !important;
}


.trunck-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }